<h1>Editing song_list</h1>

<% form_for(@song_list) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :playlist_id %><br />
    <%= f.text_field :playlist_id %>
  </p>
  <p>
    <%= f.label :music_id %><br />
    <%= f.text_field :music_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @song_list %> |
<%= link_to 'Back', song_lists_path %>